$backgroundColor: #eff1f4;
$metricBlue: #2196f3;
$metricYellow: #ffcc00;
$metricPurple: #5856d5;
$metricLemon: #8bc34a;
$metricGray: #a0b0b9;
$metricRed: #ff6a67;
$tabBorder: #d9d9d9;
$line: #eff1f4;
$darkFont: #4a4a4a;
