.progress {
  margin-top: 1.5rem;
  height: 0.8rem;
  margin-bottom: 8rem;
  &__bar {
    display: flex;
    flex-direction: row;
    height: 100%;
    border-radius: 3px;
    overflow: hidden;
    &--error1 {
      background-color: $metricYellow;
    }
    &--error2 {
      background-color: $metricBlue;
    }
    &--error3 {
      background-color: $metricPurple;
    }
    &--other {
      background-color: $metricGray;
    }
  }
  &__legend {
    width: 80%;
    margin-top: 2.4rem;
    display: flex;
    justify-content: space-between;
  }
}
